name: Job Output
on:
  push:
    branches:
      - main
jobs:
  job1:
    runs-on: ubuntu-latest
    outputs:
      job1_name: ${{ steps.set-output.outputs.name }}

    steps:
      - name: set output
        id: set-output
        shell: bash
        run: |
          echo "name=John" >> $GITHUB_OUTPUT

      - name: access output
        run: |
          echo " The value of output name is ${{ steps.set-output.outputs.name }}"

  job2:
    runs-on: ubuntu-latest
    needs: job1

    steps:
      - name: access output
        run: echo " The value of output name from job1 is ${{ needs.job1.outputs.job1_name }}"
